<!DOCTYPE html>
<html class="no-js" ng-app="PasswordStrength">
	<head>
		<title>Space Shooter Demo</title>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Password Strength App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	    <link rel="stylesheet" href="css/main.css">
	</head>
    <body>
        <div class="main-container">
        <div class="form-container">

            <!--We define a Controller inside the app using the ng-controller directive-->
            <form action="" method="POST" name="joinTeamForm" role="form" ng-controller="FormController">
                <legend class="form-label">Join the Team</legend>

                <div class="form-group">
                    <label for="fullname">Full Name</label>

                    <div class="error form-hint" ng-show="joinTeamForm.fullname.$dirty && joinTeamForm.fullname.$error.required" ng-cloak>{{"This field is required."}}</div>

                    <input type="text" class="form-control" ng-class="(joinTeamForm.fullname.$dirty && joinTeamForm.fullname.$invalid) ? 'error' : ''" id="fullname" name="fullname" placeholder="Enter Full Name" ng-required="true" ng-model="fullname">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>

                    <div class="error form-hint" ng-show="joinTeamForm.email.$dirty && joinTeamForm.email.$error.required" ng-cloak>{{"This field is required."}}</div>

                    <div class="error form-hint" ng-show="joinTeamForm.email.$dirty && joinTeamForm.email.$error.email" ng-cloak>{{"Email is invalid."}}</div>

                    <input type="email" class="form-control" ng-class="(joinTeamForm.email.$dirty && joinTeamForm.email.$invalid) ? 'error' : ''" id="email" name="email" placeholder="Enter Email Address" ng-required="true" ng-model="email">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>

                    <div class="form-hint">To conform with our Strong Password policy, you are required to use 
                        a sufficiently strong password. Password must be more than 7 characters.</div>

					<input type="password" class="form-control ok-password" ng-class="(joinTeamForm.password.$dirty && joinTeamForm.password.$invalid) ? 'error' : ''" id="password" name="password" placeholder="Enter Password" ng-required="true" ng-model="password">
                </div>
                
                <!--Our password strength meter -->
                <div class="label password-count" ng-class="password.length > 7 ? 'label-success' : 'label-danger'" ng-cloak>{{ password | passwordCount:7 }}</div>  <!--custom angular passwordCount filter, using a 'pipe'-->

                <div class="strength-meter">
					<!--We are binding the value for the data-strength attribute TO the 'passwordStrength'' 
					property of the controller's scope, which will contain the password strength score. -->
                    <div class="strength-meter-fill" data-strength="{{passwordStrength}}"></div>
                </div>

                <button type="submit" class="btn btn-primary" ng-disabled="joinTeamForm.$invalid">Submit</button>
            </form>

        </div>
        </div>

        <script src="js/bower_components/angular/angular.min.js"></script>
        <script src="js/passwordMeterApp.js"></script>
		<script src="js/bower_components/zxcvbn/dist/zxcvbn.js"></script>
    </body>
</html>