<!DOCTYPE html>
<html>
	<head>
		<title>Space Shooter Demo</title>
		<style>
			canvas#background {
				position: absolute;
				top: 0px;
				left: 0px;
				background: transparent;
        width: 100%;
        height: 100%;
			}
		</style>
	</head>
	<body onload="init()">
		<!-- The canvas for the panning background -->
		<canvas id="background" >
			Your browser does not support canvas. Please try again with a different browser.
		</canvas>
		<script src="js/shooterPartOne.js"></script>
	</body>
</html>