<!DOCTYPE html>
<head>
  <script src="js/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" href="js/sweetalert/dist/sweetalert.css">
</head>


<body>
  
  <script>
    swal("Hello world!");
  </script>
  
</body>

</html>