<!DOCTYPE html>
<html lang="en">
<head>

	<title>Weather Application Application</title>

  	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
  	<meta name="description" content="">

	<!-- stylesheets css -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<link rel="stylesheet" href="css/magnific-popup.css">

<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="stylesheet" href="css/nivo-lightbox.css">
<link rel="stylesheet" href="css/nivo_themes/default/default.css">

<link rel="stylesheet" href="css/hover-min.css">
<link rel="stylesheet" href="css/flexslider.css">

<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/main2.css">

<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- Preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-pulse"></div>
</div>



<!-- Fort Lauderdale section -->
<section id="contact" class="parallax-section">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">

        <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
              <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
                  <h2 class="city">Fort Lauderdale</h2>
                  <h1 class="temperature">73° F</h1>
                  <h4 class="state-country">Florida, United States</h4>
                  <h4 class="day-date-time">Thu, December 28th 10:14 PM</h4>

              </div>
          <div class="contact-form wow fadeInUp" data-wow-delay="0.7s">
          </div>
        </div>

      </div>
	</div>
</section>


<!-- San Jose section -->
<section id="contact" class="parallax-section">
  <div class="overlay2"></div>
    <div class="container">
      <div class="row">

        <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
              <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
                  <h2 class="city">San Jose</h2>
                  <h1 class="temperature">63° F</h1>
                  <h4 class="state-country">California, United States</h4>
                  <h4 class="day-date-time">Thu, December 28th 10:14 PM</h4>

              </div>
          <div class="contact-form wow fadeInUp" data-wow-delay="0.7s">
          </div>
        </div>

      </div>
	</div>
</section>


<!-- Austin section -->
<section id="contact" class="parallax-section">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">

        <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
              <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
                  <h2 class="city">Austin</h2>
                  <h1 class="temperature">46° F</h1>
                  <h4 class="state-country">Texas, United States</h4>
                  <h4 class="day-date-time">Thu, December 28th 10:14 PM</h4>

              </div>
          <div class="contact-form wow fadeInUp" data-wow-delay="0.7s">
          </div>
        </div>

      </div>
	</div>
</section>

<!-- Houston section -->
<section id="contact" class="parallax-section">
  <div class="overlay2"></div>
    <div class="container">
      <div class="row">

        <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
              <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
                  <h2 class="city">Houston</h2>
                  <h1 class="temperature">43° F</h1>
                  <h4 class="state-country">Texas, United States</h4>
                  <h4 class="day-date-time">Thu, December 28th 10:14 PM</h4>

              </div>
          <div class="contact-form wow fadeInUp" data-wow-delay="0.7s">
          </div>
        </div>

      </div>
	</div>
</section>


<!-- Atlanta section -->
<section id="contact" class="parallax-section">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">

        <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
              <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
                  <h2 class="city">Atlanta</h2>
                  <h1 class="temperature">41° F</h1>
                  <h4 class="state-country">Georgia, United States</h4>
                  <h4 class="day-date-time">Thu, December 28th 10:14 PM</h4>

              </div>
          <div class="contact-form wow fadeInUp" data-wow-delay="0.7s">
          </div>
        </div>

      </div>
	</div>
</section>

<!-- Charlotte section -->
<section id="contact" class="parallax-section">
  <div class="overlay2"></div>
    <div class="container">
      <div class="row">

        <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
              <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
                  <h2 class="city">Charlotte</h2>
                  <h1 class="temperature">31° F</h1>
                  <h4 class="state-country">North Carolina, United States</h4>
                  <h4 class="day-date-time">Thu, December 28th 10:14 PM</h4>

              </div>
          <div class="contact-form wow fadeInUp" data-wow-delay="0.7s">
          </div>
        </div>

      </div>
	</div>
</section>


<!-- Denver section -->
<section id="contact" class="parallax-section">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">

        <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
              <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
                  <h2 class="city">Denver</h2>
                  <h1 cclass="temperature">28° F</h1>
                  <h4 class="state-country">Colorado, United States</h4>
                  <h4 class="day-date-time">Thu, December 28th 10:14 PM</h4>

              </div>
          <div class="contact-form wow fadeInUp" data-wow-delay="0.7s">
          </div>
        </div>

      </div>
	</div>
</section>

<!-- Raleigh section -->
<section id="contact" class="parallax-section">
  <div class="overlay2"></div>
    <div class="container">
      <div class="row">

        <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
              <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
                  <h2 class="city">Washington, D.C.</h2>
                  <h1 class="temperature">21° F</h1>
                  <h4 class="state-country">United States</h4>
                  <h4 class="day-date-time">Thu, December 28th 10:14 PM</h4>

              </div>
          <div class="contact-form wow fadeInUp" data-wow-delay="0.7s">
          </div>
        </div>

      </div>
	</div>
</section>

<!-- Silver Spring section -->
<section id="contact" class="parallax-section">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">

        <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
              <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
                  <h2 class="city">Silver Spring</h2>
                  <h1 class="temperature">19° F</h1>
                  <h4 class="state-country">Maryland, United States</h4>
                  <h4 class="day-date-time">Thu, December 28th 10:14 PM</h4>

              </div>
          <div class="contact-form wow fadeInUp" data-wow-delay="0.7s">
          </div>
        </div>

      </div>
	</div>
</section>

<!-- Chicago section -->
<section id="contact" class="parallax-section">
  <div class="overlay2"></div>
    <div class="container">
      <div class="row">

        <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
              <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
                  <h2 class="city">Chicago</h2>
                  <h1 class="temperature">16° F</h1>
                  <h4 class="state-country">Illinois, United States</h4>
                  <h4 class="day-date-time">Thu, December 28th 10:14 PM</h4>

              </div>
          <div class="contact-form wow fadeInUp" data-wow-delay="0.7s">
          </div>
        </div>

      </div>
	</div>
</section>

<section id="contact" class="parallax-section">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">

        <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
              <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
                  <h2 class="city">Raleigh</h2>
                  <h1 class="temperature">23° F</h1>
                  <h4 class="state-country">North Carolina, United States</h4>
                  <h4 class="day-date-time">Thu, December 28th 10:14 PM</h4>

              </div>
          <div class="contact-form wow fadeInUp" data-wow-delay="0.7s">
          </div>
        </div>

      </div>
	</div>
</section>

<!-- Add a new city button-->
<!-- Validate Palidrome section -->
<section id="contact" class="parallax-section">
  <div class="overlay2"></div>
	<div class="container">
		<div class="row">

			<div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
            <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
            </div>
				<div class="contact-form wow fadeInUp" data-wow-delay="0.8s">
					<form id="palidrome-form" method="post" action="/validate">
						<input type="submit" class="form-control submit" id="submitBtn2" value="Add a New City +">
                        
					</form>
				</div>
			</div>

		</div>
	</div>
</section>

<!-- Copyright section -->
<section id="copyright">
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-8">
        <p>Copyright© 2017 - Designed and Built by Jacob Westerfield
          <a href="https://twitter.com/silv3rsnakejake" target="_blank" class="fa fa-twitter"></a>
          <a href="https://www.linkedin.com/in/jakewesterfield1/" target="_blank" class="fa fa-linkedin"></a>
          <a href="https://github.com/JSWesterfield" target="_blank" class="fa fa-github"></a>
        </p>
      </div>

      <div class="col-md-4 col-sm-4 text-right">
        <a href="#home" class="fa fa-angle-up smoothScroll gototop"></a>
      </div>

    </div>
  </div>
</section>

<!-- javscript js -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/jquery.magnific-popup.min.js"></script>

<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.backstretch.min.js"></script>

<script src="js/isotope.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/nivo-lightbox.min.js"></script>

<script src="js/jquery.flexslider-min.js"></script>

<script src="js/jquery.parallax.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/wow.min.js"></script>

<script src="js/siteCanvas.js"></script>
<!--<script src="js/validate.js"> Add this js library later for validation-->

<script src="js/custom.js"></script>
<script src="js/jake.js"></script>
 
<!--The source of our Angular code-->
<script src="js/bower_components/angular/angular.min.js"></script>


</body>
</html>


<script type="text/javascript">
    //on page load run script
    jake.page.startUp = function() {
      
      console.log("I am currently executing the page start up");
    };
</script>

<!--Reverse String-->
<script>
$(".submitBtn1").click(function(event) {
    //prevent the default click functionality
    event.preventDefault();
    var reverseString = function(userData) {
        //store user data
        var UserData = $("userOldDateFormat").val();
        //convert user data
        var newFormatedDate = UserData.reverse();
        //on click on button, put newFormatedDate in output
            var changeOutput = $("#newDateFormat").val();
        }
    }
});
</script>


<!--Convert string script-->
<script>
$(".submitBtn3").on("click", function() {
    var convertDate = function(userData) {
    //store user data
    var UserData = $("userOldDateFormat").val();
    //convert user data
    var newFormatedDate = UserData.reverse();
    //on click on button, put newFormatedDate in output
        var changeOutput = $("#newDateFormat").val();
    }
});
</script>


<!-- Moment.JS script for the page-->
<script type="text/javascript">
(function()
{
  // instantiate a moment object
  var NowMoment = moment();
  
  // instantiate a JavaScript Date object
  var NowDate = new Date();
  
  // display value of moment object in #displayMoment div
  var eDisplayMoment = document.getElementById('displayMoment');
  eDisplayMoment.innerHTML = NowMoment;
  
  //created a genius update function, that's an IIFE, invokes immediately, to help up date my time, in 1 second intervals.
  var update;
  (update = function() {
      document.getElementById("displayMoment")
      .innerHTML = moment().format('MMMM Do YYYY, h:mm:ss a');
  })();
  setInterval(update, 1000);
})();
</script>
